<%= content_for :head do%>
<%= javascript_include_tag 'jquery.jqGrid.min.js' %>
<%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css","ui.jqgrid.css" %>  
<%end%>
<script>
  var grid = "";
  $(document).ready(function(){
    grid = jQuery("#companies_grid").jqGrid({
        url: '/member_accounts/list',
        datatype: "json",
        mtype: "POST",
        colNames: ["id", "NAME", "TOTAL PROJECTS", "TOTAL HOURS", "TOTAL EMPLOYEES", "DETAILS"],
        /*postData: {
            authenticity_token: token
        },*/
        width: 935,
        shrinkToFit: false,
        pgtext: false,
        pgbuttons: false,
        pginput: false,
        colModel: [{
            name: 'id',
            index: 'id',
            width: 0,
            hidden: true,
            sortable: false,
            key: true
        }, {
            name: 'Name',
            index: 'name',
            align: 'left',
            width: 275,
            sortable: false
        }, {
            name: 'total_projects',
            index: 'total_projects',
            align: 'left',
            width: 160,
            fixed: true,
            sortable: false
        }, {
            name: 'total_hours',
            index: 'total_hours',
            align: 'left',
            width: 160,
            fixed: true,
            sortable: false
        }, {
            name: 'total_employees',
            index: 'total_employees',
            width: 160,
            fixed: true,
            align: 'right',
            fixed: true,
            sortable: false
        }, {
            name: 'more_details',
            index: 'more_details',
            width: 128,
            fixed: true,
            align: 'center',
            sortable: false
        }],
        height: 'auto'
    });
  });
</script>

<div class="information">
  <h2 class="title">My information</h2>
  <p class="meta"><span class="date">My Companies</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
    <table id="companies_grid"></table>
    
    <p class="links"><%= link_to 'Add another company', new_company_path %></p>
  </div>
</div>
