<div class="information">
  <h2 class="title">Editing an Employee</h2>
  <p class="meta"><span class="date">Enter the information for your new employee</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <%= render 'form' %>
    <p class="links"><%= link_to 'Show', @user %>&nbsp;|&nbsp;<%= link_to 'Back', users_path %></p>
  </div>
</div>
