<div class="information">
  <h2 class="title">Register a New Account</h2>
  <p class="meta"><span class="date">Enter the information for your user and your company.</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <%= render 'form_register' %>
    <p class="links"><%= link_to 'Back', root_path %></p>
  </div>
</div>
