<div class="information">
  <h2 class="title">Editing Project</h2>
  <p class="meta"><span class="date">Enter new information for your project</span></p>
  <div style="clear: both;">&nbsp;</div>
  <div class="entry">
      <%= render 'form' %>
    <p class="links"><%= link_to 'Show', company_project_path(:id=>@project.id) %>&nbsp;|&nbsp;<%= link_to 'Back', company_projects_path %></p>
  </div>
</div>